.mainchat
  .mainchat__header
    .mainchat__header__group
      %p.mainchat__header__group__name
        test
      %p.mainchat__header__group__members
        Member : masa
    = link_to "#", class: "mainchat__header__button" do
      Edit
  .mainchat__body
    .mainchat__body__message
      .mainchat__body__message__header
        %p.mainchat__body__message__header__name
          masa
        %p.mainchat__body__message__header__date
          2019/11/20(Wed) 17:43:01
      %p.mainchat__body__message__body
        おはよう！
    .mainchat__body__message
      .mainchat__body__message__header
        %p.mainchat__body__message__header__name
          masa
        %p.mainchat__body__message__header__date
          2019/11/20(Wed) 17:43:34
      %p.mainchat__body__message__body
        今日は夜から雨
  .mainchat__footer
    %form.mainchat__footer__form
      .mainchat__footer__form__inputs
        %input.mainchat__footer__form__inputs__text{:placeholder => "type a message"}
        %label.mainchat__footer__form__inputs__label{:for => "image_input"}
          = icon('far', 'image',  class: "mainchat__footer__form__inputs__label__icon")
          %input#image_input{:type => "file"}
      %input.mainchat__footer__form__submit{:type => "submit", :value => "Send"}